@media only screen and (max-width: 992px) {
  .main-image {
    background-image: url('images/cover_pic_sm.jpg');
  }

  #logo {
    padding-left: 0px;
  }

}

@media only screen and (min-width: 993px) {
  .main-image {
    background-image: url('images/cover_pic.jpg');
  }

  #logo {
    padding-left: 50px;
  }
}



/*
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }

  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 10;
  }
}*/

#logo {
  height: 70px;
  //padding-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
}

.ehsStrip {
  margin-bottom: 0;
  border-radius: 0;
}

.main-image {
  height: 85vh;
  //background-color: red;
  //background-image: url('images/IMG_4901.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5em;
  border-radius: 0;
  margin: 0;
}

.centerText {
  text-align: center;
}

.quote {
  margin-bottom: 0;
  padding-bottom: 0;
}

.contactIcons {
  color: black;
}

.contactIcons:hover {
  color: dark-blue;
  text-decoration: underline dotted;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}